blockquote::before {
  content: open-quote;
  position: absolute;
  top: 0;
  left: -1.5rem;
  font-size: 5rem;
  color: gray;
}

blockquote::after {
  content: close-quote;
  position: absolute;
  bottom: -1rem;
  right: -1.5rem;
  font-size: 5rem;
  color: gray;
}

button:focus {
  outline: none;
}

button:hover {
  transform: scale(1.05);
}
